@inherits MainLayoutComponent

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            @if (AuthenticationService.IsAuthenticated)
            {
                <a class="navbar-brand" href="@Spotify.Services.Urls.AuthenticatedPlaylistOptions">Randify</a>
            }
            else
            {
                <a class="navbar-brand" href="@Spotify.Services.Urls.Index">Randify</a>
            }
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    @if (AuthenticationService.IsAuthenticated)
                    {
                        <a class="nav-link" href="@Spotify.Services.Urls.AuthenticatedPlaylistOptions">Home</a>
                    }
                    else
                    {
                        <a class="nav-link" href="/">Home</a>
                    }
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Spotify.Services.Urls.UtilitiesAbout">About</a>
                </li>
                @if (AuthenticationService.IsAuthenticated)
                {
                    <li class="nav-item">
                        <a class="nav-link" href="#" onclick=@Logout>Logout</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <partial name="_CookieConsentPartial" />
    <main role="main" class="pb-3">
        @Body
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; Randify @DateTime.Now.Year
    </div>
</footer>