@page "/authenticated/Randifier"
@inherits RandifierPage

@if (!Loaded)
{
    <div class="row">
        <br />
        <br />
        <br />
        <br />
        <br />
        <h3 class="center-block">
            Loading playlists from Spotify ...
        </h3>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
    </div>
}
else
{
    <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-4">
            <h3>Playlists</h3>
            <nav>
                @if (Playlists.Any())
                {
                    <ul class="nav nav-pills nav-stacked span2">
                        @foreach (var playlist in Playlists)
                        {
                            <li><a href="/authenticated/Randifier/#" onclick=@(async () => await BindPlaylist(playlist.Id))>@playlist.Name</a></li>
                        }
                    </ul>
                }
                else
                {
                    <p>Opps, no Playlists to Randify ...</p>
                }
            </nav>
        </div>
        <div class="col-sm-8 col-md-8 col-lg-8">
            @if (PlaylistLoading)
            {
                <h3>Playlist Loading ... (@NumberOfLoadedTracks tracks)</h3>
            }
            else
            {
                @if (CurrentPlaylist != null)
                {
                    <div class="row">
                        <div class="col-xs-6">
                            <h3>@CurrentPlaylist.Name (@NumberOfLoadedTracks tracks)</h3>
                        </div>
                        <div class="col-xs-6">
                            @if (PlaylistTracks.Any())
                            {
                                <button type="button" class="btn btn-primary pull-right" style="margin-top: 20px;" onclick=@Randify>Randify!</button>
                            }
                        </div>
                    </div>                    
                    @if (PlaylistTracks.Any())
                    {
                        <table class="table table-striped table-dark">
                            <thead>
                                <tr>
                                    <td scope="col">

                                    </td>
                                    <td scope="col">
                                        Title
                                    </td>
                                    <td scope="col">
                                        Artist
                                    </td>
                                    <td scope="col">
                                        Album
                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var playlistTrack in PlaylistTracks)
                                {
                                    <tr>
                                        <td>

                                        </td>
                                        <td>
                                            @playlistTrack.Track.Name
                                        </td>
                                        <td>
                                            @playlistTrack.Track.Artists[0].Name
                                        </td>
                                        <td>
                                            @playlistTrack.Track.Album.Name
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>                    
                    }
                    else
                    {
                        <p>Opps, no tracks to Randify ...</p>
                    }
                }
                else
                {
                    <p>Opps, no tracks to Randify ...</p>
                }
            }
        </div>
    </div>
}

<Error Exception=@PageException />