@page "/authenticated/myartiststopsongs"

@inherits Spotify.Pages.Authenticated.MyArtistsTopSongsPage

@if (!Loaded)
{
    <div class="row">
        <div class="col-sm-4 col-md-8 col-lg-12">
            <h3>Loading Artist's (@Artists.Count) and their Top songs (@Tracks.Count) </h3>
        </div>
    </div>

    return;
}

@if (ShowPlaylistSaved)
{
    <div class="row">
        <div class="col-sm-4 col-md-8 col-lg-12">
            <h3>Playlist Saved!</h3>
        </div>
    </div>
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <br />

        @if (Artists.Any() && Tracks.Any())
        {
            <div class="row">
                <div class="col-sm-8 col-md-8 col-lg-8">
                    <h3>Favorite Artists + Top Songs</h3>
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2">
                    <button type="button" class="btn btn-secondary pull-right" onclick=@(() => BindPlaylist())>Try Again</button>
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2">
                    <button type="button" class="btn btn-primary pull-right" onclick=@(() => SavePlaylist())>Save Playlist</button>
                </div>
            </div>
            <table class="table table-striped table-light">
                <thead class="thead-dark">
                    <tr>
                        <td scope="col"></td>
                        <td scope="col">
                            Title
                        </td>
                        <td scope="col">
                            Artist
                        </td>
                        <td class="hidden-xs hidden-sm" scope="col">
                            Album
                        </td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var track in Tracks)
                    {
                        <tr>
                            <td class="align-middle">
                                @if (WebPlaybackState != null && !WebPlaybackState.Paused && CurrentlyPlayingTrack != null && CurrentlyPlayingTrack.Id == track.Id)
                                {
                                    //<button class="playbutton" onclick=@TogglePlay()><i class="fa fa-pause"></i></button>
                                }
                                else
                                {
                                    //<button class="playbutton" onclick=@Play(playlistTrack.Track)><i class="fa fa-play"></i></button>
                                }
                            </td>
                            <td class="align-middle">
                                @track.Name
                            </td>
                            <td class="align-middle">
                                @track.Artists[0].Name
                            </td>
                            <td class="hidden-xs hidden-sm align-middle">
                                @track.Album.Name
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <br />
            <br />
            <p>Opps, no tracks have been found ...</p>
        }
    </div>
</div>

<Error Exception=@PageException />
